[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
jinja2 = "*"
flask_wtf = "*"
flask_sqlalchemy = "*"
flask_migrate = "*"
wtforms = {extras = ["email"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
