{% extends 'base.html' %}

{% block items %}
    {% if is_logged_in %}
        <li class="nav-item">
            <a class="nav-link" href="/newTask">New Task</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
        </li>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block content %}
    <!-- Jumbotron -->
    <div class="p-5 text-center bg-light">
        <h1 class="mb-3">Heading</h1>
        <h4 class="mb-3">Subheading</h4>
        <a class="btn btn-primary" href="" role="button">Call to action</a>
    </div>
    <!-- Jumbotron -->
{% endblock %}