{% extends 'base.html' %}

{% block items %}
    <li class="nav-item">
        <a class="nav-link" href="/new_project">New Project</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/newTask">New Task</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="container">

            {% if task %}
                <h1>Edit Task</h1>
            {% else %}
                {% if project %}
                    <h1>
                        New Task for Project - {{ project.name }}
                    </h1>
                {% else %}
                    <h1>New Task</h1>
                {% endif %}
            {% endif %}

            <form action="" method="post">
                {{ form.csrf_token }}

                {{ form.hidden_tag() }}

                {% if task %}
                    <input type="hidden" name="hiddenTaskId" value="{{ task.task_id }}">
                {% else %}
                    <input type="hidden" name="hiddenTaskId" value="0">
                {% endif %}

                {{ form.description.label(class="sr-only form-label") }}
                {{ form.description(class="form-control", placeholder="Description") }}

                {{ form.priority.label(class="sr-only form-label") }}
                {{ form.priority(class="form-control", placeholder="Description") }}

                {{ form.status.label(class="sr-only form-label") }}
                {{ form.status(class="form-control", placeholder="Status") }}

                {{ form.deadline.label(class="sr-only form-label") }}
                {{ form.deadline(class="form-control", placeholder="Deadline") }}

                <p class="lead"></p>
                <p>
                    {% if task %}
                        {{ form.submitUpdate(class="btn btn-primary btn-lg") }}
                    {% else %}
                        {% if project %}
                            {{ form.submitAddByProject(class="btn btn-primary btn-lg") }}
                        {% else %}
                            {{ form.submitAdd(class="btn btn-primary btn-lg") }}
                        {% endif %}
                    {% endif %}
                    <a class="btn btn-lg btn-warning btn-block" href="/userhome">
                        Cancel
                    </a>
                </p>
            </form>
        </div>
    </div>
{% endblock %}