{% extends 'base.html' %}

{% block items %}
    {% if is_logged_in %}
        <li class="nav-item">
            <a class="nav-link" href="/newTask">New Task</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
        </li>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        User created successfully!
    </h1>
    <p>
        User Fullname: {{ user.fullname }}
    </p>
    <p>
        User Email: {{ user.email }}
    </p>
{% endblock %}